<div class="container">
    <div class="row">
        <img src="/assets/images/burger.png" alt="burger" />
        <header>Eat Up</header>
    </div>
</div>

//burger mp4 isnt opening on my computer, I dont remember the layout :/


<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Please enter your burger selection</p>
		</div>
	</div>
</div>
